.recipe-card {
  border-radius: 5px;
  border-color: black;
  width: min-content;
  grid-template-rows: 3;
  margin: 20px;
  max-width: 450px;
  background: white;
}

.recipe-content h1 {
  font-size: 19px;
  padding: 10px;
}

.recipe-content h2 {
  font-size: 15px;
  margin-top: 1px;
  margin-left: 20px;
}

.ingredients {
  height: 200px;
  width: 250px;
  overflow: scroll;
}

.ingredients::-webkit-scrollbar {
  width: 12px;
  height: 0;
}